# Data Prepration

In [1]:
import pandas as pd

In [2]:
calendar = pd.read_csv("calendar.csv", keep_default_na=False)
sales_train_validation = pd.read_csv("sales_train_validation.csv", keep_default_na=False)
sample_submission = pd.read_csv("sample_submission.csv", keep_default_na=False)
sell_prices = pd.read_csv("sell_prices.csv", keep_default_na=False)

In [3]:
sales_train_validation.describe()

,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
count,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,...,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000
mean,1.070220,1.041292,0.780026,0.833454,0.627944,0.958052,0.918662,1.244080,1.073663,0.838701,...,1.370581,1.586159,1.693670,1.248245,1.232207,1.159167,1.149000,1.328862,1.605838,1.633158
std,5.126689,5.365468,3.667454,4.415141,3.379344,4.785947,5.059495,6.617729,5.917204,4.206199,...,3.740017,4.097191,4.359809,3.276925,3.125471,2.876026,2.950364,3.358012,4.089422,3.812248
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000
max,360.000000,436.000000,207.000000,323.000000,296.000000,314.000000,316.000000,370.000000,385.000000,353.000000,...,129.000000,160.000000,204.000000,98.000000,100.000000,88.000000,77.000000,141.000000,171.000000,130.000000

In [8]:
x = list(sales_train_validation.columns[6:])
change_col = [
    [
        "d_{}".format(x//12+1), #date_id
        x//12+1, #dt
        x%12+8 #hour
#         (x/12)%7+1 #day
    ] for x in range(len(x))
]
change_col[:5], change_col[-1:-5:-1],# change_col

([['d_1', 1, 8],
  ['d_1', 1, 9],
  ['d_1', 1, 10],
  ['d_1', 1, 11],
  ['d_1', 1, 12]],
 [['d_160', 160, 12],
  ['d_160', 160, 11],
  ['d_160', 160, 10],
  ['d_160', 160, 9]])

In [9]:
date_df = pd.DataFrame(
    change_col, columns=[
        "date_id", "dt", "hour"
        #, "day"
    ]
)

In [10]:
# date_df

In [11]:
sales_train = pd.melt(
    sales_train_validation,
    id_vars=sales_train_validation.columns[:6],
    value_vars=sales_train_validation.columns[6:],
    var_name='date_id',
    value_name='quantity'
).merge(
    date_df,
    on="date_id"
)

In [12]:
sales_train = sales_train[
    list(sales_train_validation.columns[:6])+list(date_df.columns)+["quantity"]
]

In [13]:
len(sales_train)

58327370

In [14]:
sales_train.head()

,id,item_id,dept_id,cat_id,store_id,state_id,date_id,dt,hour,quantity
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,1,8,0
1,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,1,9,0
2,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,1,10,0
3,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,1,11,0
4,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,1,12,0

In [15]:
calendar.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,,,,,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,,,,,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,,,,,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,,,,,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,,,,,1,0,1

In [16]:
num_days = date_df.dt.max()
last_index = int(calendar[calendar.wday == num_days % 7].reset_index()[["index"]].max()[0])

In [17]:
last_index-num_days, last_index

(1805, 1965)

In [18]:
calendar_train = calendar[
    (calendar.index > (last_index - num_days))
    & (calendar.index <= last_index)
].reset_index()
calendar_train["date_id"] = "d_" + (calendar_train["index"] - (last_index - num_days)).map(str)
calendar_train = calendar_train.drop(
    ["index", "d", "wm_yr_wk"],
    axis=1
)

In [19]:
calendar_train.head()

,date,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,date_id
0,2016-01-09,Saturday,1,1,2016,,,,,1,1,1,d_1
1,2016-01-10,Sunday,2,1,2016,,,,,1,0,0,d_2
2,2016-01-11,Monday,3,1,2016,,,,,0,1,1,d_3
3,2016-01-12,Tuesday,4,1,2016,,,,,0,1,1,d_4
4,2016-01-13,Wednesday,5,1,2016,,,,,0,1,0,d_5

In [20]:
# sales_train.to_csv("sales_train.csv", index=False)

In [21]:
# calendar.to_csv("calendar.csv", index=False)

---

# Core Logic

In [23]:
sales_train_final = sales_train.merge(
    calendar_train,
    on="date_id"
)

MemoryError:

In [ ]:
sales_train_final.head()

# store closure spark code

In [18]:
# def flag_n_continuous(
#         dataframe,
#         groupings,
#         identifier,
#         threshold=2,
#         filters=None,
#         flag=1,
#         flag_name="flag",
#         second_identifier=False,
#         second_identifier_name="identifier_flag"
# ):
#     """
#     Identify N continuous rows and flag with flag value
#     """
#     # find minimum value of identifier column
#     input_columns = dataframe.columns
#     if filters:
#         dataframe = dataframe.filter(
#             filters
#         )
#     dataframe = dataframe.withColumn(
#         "min_identifier",
#         getattr(F, "min")(identifier).over(
#             W.Window.partitionBy(
#                 groupings
#             )
#         )
#     ).withColumn(
#         "diff_identifier",
#         getattr(F, "col")(identifier) - getattr(F, "col")("min_identifier") + 1
#     ).withColumn(
#         "rank",
#         getattr(F, "dense_rank")().over(
#             W.Window.partitionBy(
#                 groupings
#             ).orderBy(
#                 identifier
#             )
#         )
#     ).withColumn(
#         second_identifier_name,
#         getattr(F, "col")("diff_identifier") - getattr(F, "col")("rank")
#     ).withColumn(
#         "count",
#         getattr(F, "count")(second_identifier_name).over(
#             W.Window.partitionBy(
#                 groupings + [second_identifier_name]
#             )
#         )
#     ).withColumn(
#         flag_name,
#         F.when(
#             getattr(F, "col")("count") >= threshold,
#             F.lit(flag)
#         ).otherwise(
#             F.lit(0)
#         )
#     )
#     input_columns.append(flag_name)
#     if second_identifier:
#         input_columns.append(second_identifier_name)
#     return dataframe.select(*input_columns)